<h1><%= @article.title %></h1>
<p><%= "⭐" * @article.stars %></p>
<h2><%= @article.created_at.strftime("%d %b %Y") %></h2>
<p><%= @article.content %></p>

<div class="container shadow bg-white rounded p-4 text-center my-5 mb-4">
<h1><%= @article.title %></h1>
<p><%= "⭐" * @article.stars %></p>
<h2><%= @article.created_at.strftime("%d %b %Y") %></h2>
<p><%= @article.content %></p>
</div>

<%= link_to "Destroy", article_path(@article.id), method: :delete, class: "btn
btn-danger" %>

<%= link_to "Edit", edit_article_path(@article.id), class: "btn btn-primary" %>
